@media screen and (min-width: 799px) {
  .form {
    --offset-height: -200px;

    display: grid;
    grid-template-columns: 1.5fr 3fr;
    width: 80%;
    min-height: 475px;
    margin: 0 auto;
    top: var(--offset-height);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15);
    background-color: var(--white);
  }
}

.form-container {
  margin: 3%
}

.input-container {
  margin: 2%
}

.information {
  background-color: var(--main-coral);
  color: var(--white);
}

.information h2 {
  text-align: center;
}
